.product{
    width:20%;
    background-color:#eeeeee ;
    box-shadow: 0 6px 8px 0 rgba(100,105,4,0.2);
    transition: 0.3s;
    padding: 25px;
    float: left;
    margin: 20px;
    font-size: 15px;
}
.product_container{
    overflow-y: scroll;
    height: 70%;
    position: absolute;
}

.btn{

    border: none;
    outline: 0;
    display: inline-block;
    padding: 7px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 15px;

}

.add_cart{
background-color:#303f9f ;
width: 100%;
}

.add_cart:hover{
    box-shadow: 0 6px 8px 0 rgba(100,105,4,0.2);

}

.log_out{
    background-color:red ;
    margin:13px;
}